.contactsList {
position: absolute;
width:503px;
left: 0;
top:0;
height: 100%;
background-color:bisque;
overflow: scroll;
    overflow-x: hidden;
}
.SearchContacts {
    position: absolute;
    width: 503px;
    height:70px;
    left:0;
    top:80px;
    font-family: "Poppins-Regular";
    color:green;
    font-size:30px;
    border: 2px solid #3DA56B;
    outline: 0;
    border-width: 0 0 2px;
    background-color: azure;
   }